// Cores da marca
$primary: #4f46e5;
$bg-body: #f9fafb;
$text-main: #111827;

// Estados de Ticket
$color-open: #f59e0b;
$color-progress: #3b82f6;
$color-closed: #10b981;

// Fontes
$font-family: 'Inter', sans-serif;